/* =========================
   MOBILE RESPONSIVE STYLES
   ========================= */

@media (max-width: 600px) {

    body {
        margin:0;
        overflow-x: hidden;
        background: none;
    }

    .container {
        width: 100%;
        height: 92vh;
        /* border-radius: 16px; */
    }

    

    /* TOP ICON */
    .img-container-p2 i {
        font-size: 28px;
        top: 15px;
        right: 15px;
    }

    /* BOTTOM CARD */
    .p2-main-container {
        height: 55%;
        padding-bottom: 10px;
    }

    /* ADD BUTTON */
    .addButt-container {
        right: 20px;
        top: -40px;
    }

    .addButt-container button {
        width: 65px;
        height: 65px;
        font-size: 36px;
    }

    /* TEXT */
    .text-container h1 {
        font-size: 2rem;
    }

    .text-line2 {
        flex-direction: column;
        gap: 6px;
        margin-top: 5px;
    }

    .text-line2 h3 {
        font-size: 0.95rem;
    }

    /* STATS BOX */
    .three-box-container {
        padding-top: 15px;
    }

    .three-box-container h1 {
        font-size: 2rem;
    }

    .three-box-container p {
        font-size: 0.9rem;
    }

    .box1,
    .box3 {
        height: 220px;
    }
    .img-container{
    width:60%;
    height:100%;

}

    .img-container img
    {
        position: absolute;
        bottom:0px;
        left:10px;
        object-fit: cover;
        width: 100%;
        height: 100%;
}
.img-container-p2{
    width:100%;
    height:100%;   
}
.img-container-p2 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    animation: imageZoom 8s ease-in-out infinite alternate;
}
}

