body{
    background: linear-gradient(to right, #232526, #414345);
    overflow: hidden;
    margin-top:30px;
    font-family: 'Playfair Display', serif;
}

.container{
    height:90vh;
    width:500px;
    background-image: url("../assets/background.png");
    box-shadow: 0 20px 140px rgba(0,0,0,0.15);
    border-radius: 20px;
    overflow: hidden;
    margin:0 auto;
    position: relative;
}
.img-container{
    width:100%;
    height:100%;
}
.img-container img{
    transform: translate(-27%,-45%);
    object-fit: cover;
     width: 500px;
    height: 1200px;
}


.info-container{
    position: absolute;
    top:20px;
    right:30px;
    color:#414345;
    
}
.info-container h1{
    font-size: 2.5rem;
    letter-spacing: -2px;
}
.info-container h3{
    letter-spacing: -1px;
    margin-top: -20px;
}

.butt-container{
    position: absolute;
    bottom:40px;
    right:30px;
}

.butt{
    width:170px;
    height:50px;
    border-radius: 50px;
    border: none;
    background-color: yellow;
}

.butt:hover{
    background-color: rgba(255, 255, 0, 0.866);
}

/* page 2 */

.img-container-p2{
    /* width:100%;
    height:50%; */
    position: absolute;
    inset: 0;
    z-index: 1;    
}
.img-container-p2 img{
    transform: translate(-27%,-45%);
    object-fit: cover;
    width: 500px;
    height: 1200px;
    z-index: 1;
}
.img-container-p2 i{
    position: absolute;
    top:20px;
    right:20px;
    font-size: 35px;
    color:white;
}

.p2-main-container{
    width:100%;
    height:50%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.addButt-container{
    position: absolute;
    top:-50px;
    right:50px;
}
.addButt-container button{
    width:80px;
    height: 80px;
    border-radius: 50%;
    font-size: 45px;
    border: none;
    background-color: yellow;
    color: black;
}
.text-container{
    text-align: center;
    padding-top:30px;
}
.text-container h1{
    font-size: 2.5rem;
    letter-spacing: -2px;
}
.text-line2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -35px;
}

